body {
    font-family: Arial, sans-serif;
    background-image: url('../Images/wc1.jpg');
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
}

.container {
    background: linear-gradient(to bottom right, white, blue, green); /* Background color gradient */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set a fixed width for better layout */
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-size: 18px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #4CAF50;
}

.links {
    margin-top: 20px;
    text-align: center;
}